@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu.ttf);
}
@font-face {
    font-family: RobotoMono;
    src: url(RobotoMono.ttf);
}
@font-face {
    font-family: Inconsolata;
    src: url(Inconsolata.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Light.ttf);
}
@font-face {
    font-family: VT;
    src: url(VT323-Regular.ttf);
}
@font-face {
    font-family: Kode;
    src: url(KodeMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: Slab;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: MyComic;
    src: url(Comic\ Sans\ MS.ttf);
}


* {
    overflow-wrap: normal;
    object-fit: contain;
}

:root {
    --background-white:#F8F8F8;
}

.top {
    color: rgb(51, 51, 51);
    font-weight: 700;
}

body { 
    margin: 5% auto; 
    max-width: 55em; 
    line-height: 1.7; 
    font-size: 1.125em; 
    color: #0a0a0a; 
    padding: 0 2%; 
    font-weight: 525;
    font-style: normal;
    font-family:  -apple-system, 'Inter', sans-serif, 'Comic Sans', 'MyComic', 'Slab', 'Georgia';
    background-color: var(--background-white);
}

a {
    border-radius: 5px;
    background-color: var(--background-white);
    font-size: 14pt;
    transition-duration: .4s;
    text-decoration: none;
    color: black;
}


a.inline {
    background-color: #ddd;
    padding: 2px;
}

a.inlineinfo {
    background-color: #ddd;
    padding: 3px 8px;
    font-size: clamp(8pt, 10pt, 12pt);
    margin-left: 1vw; 
    line-height: 1.2;
    border: none;
    display: inline-block;
}

a.nav-link {
    display: inline-block;
    border: 3px double rgb(59, 59, 59);
    padding: 0.4rem 1rem;
    font-size: clamp(1rem, 1.2rem, 2rem);
    margin: 0 .25rem;
    font-weight: 500;
}

a:visited {
    color: black;
}
a:hover {
    background-color: rgb(255, 205, 158) !important;
    background-clip: padding-box !important;
}
a:active{
    background-color: rgb(255, 160, 70) !important;
    background-clip: padding-box !important;
}

.MJX-TEX { 
    font-size:120%;}

p {
    font-size: 14pt; 
    line-height: 1.8;
    text-align: left;
    width: 100%;
}

.buttonrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem;        */
    gap: clamp(.5rem, 1.5rem, 2rem);
    align-items: center;

}

.buttonrow img {
    display: block;
    padding: 8px;
}

hr{
    width: 50%;
    margin-right: 25%;
}

li{
    font-size: 12pt; 
    line-height: 1.8;
    text-align: justify;
}

.none{
    content: none;
    width: 0%;
    border: none;
}

@media screen and (max-width: 1200px) {
    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h1{
        font-weight: normal;
    }
    h2{
        font-weight: normal;
    }
    h3{
        font-weight: normal;
    }
}
