@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu.ttf);
}
@font-face {
    font-family: RobotoMono;
    src: url(RobotoMono.ttf);
}
@font-face {
    font-family: Inconsolata;
    src: url(Inconsolata.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(Roboto-Light.ttf);
}
@font-face {
    font-family: VT;
    src: url(VT323-Regular.ttf);
}
@font-face {
    font-family: Kode;
    src: url(KodeMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: Slab;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: MyComic;
    src: url(Comic\ Sans\ MS.ttf);
}


* {
    /* font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    /* font-family: 'Comic Sans', 'MyComic', 'Slab', 'Georgia', 'Times New Roman', Times, serif; */
    overflow-wrap: normal;
    object-fit: contain;
}

.top {
    color: rgb(51, 51, 51);
}
body { 
    margin: 5% auto; 
    max-width: 55em; 
    line-height: 1.7; 
    font-size: 1.125em; 
    color: #0a0a0a; 
    padding: 0 2%; 
    font-weight: 475;
    font-style: normal;
    font-family:  -apple-system, 'Inter', sans-serif, 'Comic Sans', 'MyComic', 'Slab', 'Georgia';
    background-color: #F8F8F8;
}

a {
    border-radius: 5px;
    background-color: #F8F8F8;
    font-size: 14pt;
    transition-duration: .4s;
    text-decoration: none;
    color: black;
}


a.inline {
    background-color: #ddd;
    padding: 2px;
}

a.inlineinfo {
    background-color: #ddd;
    padding: 3px 8px;
    font-size: 10pt; 
    margin-left: 1vw; 
    border: none;
}

a.nav-link {
    display: inline-block;
    border: 3px double rgb(59, 59, 59);
    padding: 0.4rem 1rem;
    font-size: clamp(1.1rem, 1vw, 1.1rem);
    margin: 0 .5rem;
    font-weight: 500;
}

a:visited {
    color: black;
}
a:active{
    background-color: rgb(255, 160, 70) !important;
    /* -webkit-background-clip: none !important;
    -webkit-text-fill-color: black !important; */


}
a:hover {
    background-color: rgb(255, 205, 158) !important;
    /* -webkit-background-clip: border-box !important;
    -webkit-text-fill-color: black !important; */


}

.MJX-TEX { 
    font-size:120%;}

p {
    font-size: 14pt; 
    line-height: 1.8;
    text-align: justify;
    width: 100%;
}

.buttonrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;       
    text-align: center;
    align-items: flex-start;

}

.buttonrow img {
    display: block;
    padding: 8px;
}

hr{
    width: 50%;
    margin-right: 25%;
}

li{
    font-size: 12pt; 
    line-height: 1.8;
    text-align: justify;
}

.none{
    content: none;
    width: 0%;
    border: none;
}

@media screen and (max-width: 1200px) {
    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h1{
        font-weight: normal;
    }
    h2{
        font-weight: normal;
    }
    h3{
        font-weight: normal;
    }
}
